<% if user_signed_in? %>
  <li>
    <%= current_user.known_as || current_user.user_name %>
  </li>
  <li>
    <%= link_to('My account', user_path(current_user)) %>
  </li>
<% else %>
  <li>
    Guest
  </li>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>