<li>
  <%= link_to('Home', root_path) %>
</li>
<% if user_signed_in? %>
  &nbsp;|&nbsp;<li>
  <%= link_to('My account', edit_user_registration_path) %>
  </li>
<% else %>
  &nbsp;|&nbsp;<li>
  <%= link_to('Sign up', new_user_registration_path)  %>
  </li>
<% end %>