h1, h2, h3, header p {
  font-family: Verdana, Arial, sans-serif;
}

body, header {
  background-color: #666767;
  color: white;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

header {
  padding: 10px;
  margin: 10px auto;
  width: 800px;
}

section#toc {
  background-color: white;
  color: #666767;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  width: 800px;
  margin: 20px auto;
}

section#projects {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
}

div.p_description {
  background-color: white;
  color: #666767;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
}

footer {
  background-color: white;
  color: #666767;
  border-radius: 15px;
  padding: 20px;
  width: 800px;
  margin: 20px auto;
}

/* a:link {
 text-decoration: none;
 color: #666767; 
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #666767;
}

a:active {
  color: #666767;
}

a:visited {
  color: #666767;
}
*/
