/* Override here any style defined by app-themer */
header h1 a,  header h1 a .proman em, header h1 a .proman sub, header h1 a .proman sup {
  text-decoration: none;
  color: #fff;
}

header h2 {
  color: #fff;
}
