/* Override here any style defined by app-themer */
header h1 a,  header h1 a .proman em, header h1 a .proman sub, header h1 a .proman sup {
  text-decoration: none;
  color: #fff;
}

header h2 {
  color: #fff;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}