-# CSS: implied media="all"
= stylesheet_link_tag :flutie, :cache => true
:css
  /* These are styles to make the page look nice */
  body { background-color: #dadada;}
  #container {
    background: #fff;
    padding: 40px;
    margin: 40px auto;
    width: 880px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
  }
-# Uncomment if you are specifically targeting less enabled mobile browsers
-#= stylesheet_link_tag 'handheld', :media => 'handheld'

-# Append your own using content_for :stylesheets
= yield :stylesheets

